@import 'tailwindcss';
@import '@nuxt/ui-pro';

:root {
  --ui-primary: var(--ui-color-primary-600);
  --ui-border: var(--ui-color-neutral-300);
  --ui-radius: 0.375rem;
}

.dark {
  --ui-border: var(--ui-color-neutral-700);
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
